<div class="intoro">
  <h5>診断結果</h5>
  <p>最適な対処法は…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3] %>
  <% when ["1", "1", "1"] %>
    <h6>胃薬を飲み、水分補給をしっかり行いながら、安静にする。</h6>
    <p>おすすめの胃薬：太田胃散</p>
    <p>おすすめの水分：経口補水液(OS-1)</p>
  <% when ["1", "1", "2"] %>
    <h6>胃薬を飲み、水分補給をしっかり行う。</h6>
    <p>おすすめの胃薬：太田胃散</p>
    <p>リおすすめの水分：経口補水液</p>
  <% when ["1", "2", "2"] %>
    <h6>胃薬を飲む。</h6>
    <p>おすすめの胃薬：太田胃散</p>
  <% when ["1", "2", "1"] %>
    <h6>胃薬を飲み、安静にする。</h6>
    <p>おすすめの胃薬：太田胃散</p>
  <% when ["2", "1", "1"] %>
    <h6>水分補給をしっかり行い、安静にする。</h6>
    <p>おすすめの水分：経口補水液(OS-1)</p>
  <% when ["2", "2", "1"] %>
    <h6>安静にする。</h6>
  <% when ["2", "1", "2"] %>
    <h6>水分補給をしっかり行う。</h6>
    <p>おすすめの水分：経口補水液(OS-1)</p>
  <% when ["2", "2", "2"] %>
    <h6>時間が解決！</h6>
  <% end %>
</div>
