.body-2{
    background-image: url("shindan-result.jpg");
    height: 700px;
}

.intoro{

}

h5{
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.perfume-container{

}

h6{
    font-size: 44px;
    font-family: M PLUS Rounded 1c;
    color: aliceblue;
}

p{
    font-size: 30px;
}